@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --main-color: #42CBFF;
    --accent-color: #D6AD5B;
    --accent-hover-color: #9d7e40;
    --shadow-color: rgb(51, 107, 133);
    --main-font: 'Montserrat', sans-serif;
    --title-font:'Hachi Maru Pop';
}

::selection{
    background-color: var(--shadow-color);
    color:white;
}
body,
html{
    scroll-behavior: smooth;
}

body{
    display:flex;
    justify-content: center;
    min-height:100vh;
    background-color: var(--main-color);
}

#innerbody{
    width:100%;
    max-width:1920px;
    overflow-x:hidden;
}
header{
    min-height:100vh;
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(img/header_background.png);
    background-position: center center;
    background-size: cover;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
nav{
    background-color:white;
    width:100%;
    min-height:60px;
    padding:10px 4%;
    justify-self:flex-start;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav > img{
    height:60px;
}
#navOptions{
    position:relative;
}
#navOptions > a{
    font-family: var(--main-font);
    text-decoration: none;
    margin:10px;
    position:relative;
    transition: all 0.4s;
}
#navOptions > a:not(#navSignUp){
    color:black;
}
#navOptions > a:not(#navSignUp)::before{
    content:"";
    position: absolute;
    left:0;
    bottom:-2px;
    height:2px;
    width:0;
    background-color: var(--main-color);
    transition:width 0.6s;
}
#navOptions > a:not(#navSignUp):hover{
    color:var(--main-color);
}
#navOptions > a:not(#navSignUp):hover::before{
    width:100%;
}
#closeNavOptions{
    font-family: var(--main-font);
    color:white;
    font-weight:700;
    position:absolute;
    right:4%;
    top:15px;
    font-size:55px;
    display:none;
}
#navSignUp{
    background-color: var(--main-color);
    color:white;
    padding:10px 15px;
    border-radius:5px;
}
#navSignUp:hover{
    background-color: var(--shadow-color);
}
#hamburger{
    height:15px;
    width:25px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition:height 0.3s;
    display:none;
}
#hamburger .bar{
    background: black;
    height:2px;
    width:100%;
}
#hamburger:hover{
    cursor:pointer;
    height: 17px;
}
#headerTitle{
    font-family:var(--title-font);
    color:white;
    text-transform: uppercase;
    text-align: center;
    font-size:55px;
    width:100%;
}
#headerSubtitle{
    color:white;
    text-align: center;
    font-family:var(--main-font);
    font-weight:300;
    font-size:20px;
    padding:0 10px;
}

section{
    background-color: white;
    font-family: var(--main-font);
    padding:20px 0;
    position:relative;
}
.sectionTitle{
    text-transform: uppercase;
    text-align: center;
    padding:20px 0;
    font-size:40px;
    font-weight:400;
    width:100%;
}
/* GENERAL END */

/* RECIPE START */
#recipeOptions{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 5%;
    margin:20px 0;
}
#recipeOptions label{
    font-size:22px;
    margin-right:5px;
}
#recipeOptions select{
    border:3px solid var(--main-color);
    color:var(--main-color);
    background-color: transparent;
    font-size:22px;
    border-radius:2px;
}
#outerCarousel{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0 5px;
}
#carousel{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.carouselArrow{
    width:15vw;
    padding: 0 1%;
}
.carouselArrow:hover{
    cursor:pointer;
}
.carouselOption{
    margin:0 20px;
    padding:10px;
    border-radius:15px;
    transition: background-color 0.3s;
}
.carouselOption:hover{
    cursor:pointer;
    background-color: var(--main-color);
}

.carouselOption > img{
    border-radius:10px;
    width:200px;
}

.carouselHiddenInfo{
    opacity:0;
}


.carouselOption:hover .carouselHiddenInfo{
    transition:opacity 0.4s 0.3s; /* find how to do different transition delays?*/
    opacity:1; 
}

.carouselHiddenInfo > p{
    margin-top:5px;
}
.recipeDifficulty{
    max-width:100px;
}
.carouselHiddenInfo button{
    background-color: var(--accent-color);
    border:none;
    padding:10px 0;
    width:80%;
    margin:10px auto;
    color:white;
    font-family: var(--main-font);
    font-weight:bold;
    font-size:20px;
    border-radius:5px;
    transition: background-color 0.2s;
}
.carouselHiddenInfo button:hover{
    cursor:pointer;
    background-color:var(--accent-hover-color);
}
/* RECIPE END*/

/*ABOUT US START */
#aboutUs{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom:50px;
}
#aboutUs > div{
    width:40%;
}
#aboutUs > div h1{
    font-size:52px;
    color:var(--main-color);
    text-decoration: underline;
    text-transform: uppercase;
}
#aboutUs > img{
    width:30%;
    border-radius:25px;
}

/*ABOUT US END*/

/* NEW FLAVORS START */
#newFlavors{
    background-color: var(--main-color);
}
#newFlavors .sectionTitle{
    color:white;
    font-weight:800;
    text-shadow:4px 4px 0 var(--shadow-color);
}
.newFlavor{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:90%;
    max-width:800px;
    margin:35px auto;
    padding:15px 5px;
    background-color: white;
    border-radius:20px;
}
.newFlavor > img{
    width:30%;
    margin:0 15px;
    border-radius:20px;
    box-shadow:0 2px 5px gray;
    transition: all 0.2s;
}
.newFlavor > img:hover{
    cursor:pointer;
    box-shadow: 0 4px 5px gray;
    transform:translateY(-2px);
}
.newFlavor:not(.flippedFlavor){
    box-shadow:-9px 9px var(--shadow-color);
}

.newFlavor.flippedFlavor{
    text-align:right;
    box-shadow:9px 9px var(--shadow-color);
}

/* NEW FLAVORS END */

/* TESTIMONIALS START */
#testimonials{
    background-color: var(--main-color);
}

#testimonials .sectionTitle{
    padding:30px 0;
}
#testimonials .sectionTitle span{
    color:white;
    font-weight:800;
    text-shadow:-4px 4px 0 var(--shadow-color);
}

.testimonial{
    background-color: white;
    margin:50px 0;
    text-align: center;
    padding:20px;
    box-shadow:0 5px 0 var(--shadow-color);
}

.testimonial > h1{
    color:var(--main-color);
    font-size:42px;
    font-weight:900;
    transition:all 0.2s;
}
.testimonial:hover > h1{
    text-shadow:0 4px var(--shadow-color);
    transform:translateY(-4px);
}

.testimonial > p{
    transition:all 0.2s;
}

.testimonial > p > span{
    font-weight:600;
    font-size:18px;
}
/* TESTIMONIAL END */

/* FOOTER START */
footer{
    height:120px;
    background-color: var(--accent-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 30px;
    position:relative;
    font-family:var(--main-font);
    margin-top:100px;
}
footer div a{
    display:block;
    font-size:20px;
    color:white;
    text-decoration: underline;
    margin:5px 0;
    text-shadow:2px 2px 0 var(--accent-hover-color);
    transition:all 0.3s;
}
footer div a:hover{
    font-weight:600;
}
footer > img{
    height:100%;
}
#copyright{
    font-size:12px;
    position:absolute;
    left:50%;
    bottom:5px;
    transform: translateX(-50%);
}
/* FOOTER END */

/* LOGGED IN WEBSITE START*/

#mealSearch{
    background-color: var(--main-color);
    text-align: center;
}
#mealSearch .sectionTitle,
#favorites .sectionTitle{
    color:white;
    font-weight:900;
    text-shadow:5px 5px var(--shadow-color);
}
#mealSearch > p{
    font-size:20px;
    margin-bottom:5px;
}
#mealSearchOptions{
    width:60%;
    margin:0 auto;
    position:relative;
}
#mealSearchOptions > p{
    font-size:12px;
    margin:15px 0;
}
.mealSearchOption,
#mealSearchDiv_Button{
    border:4px solid white;
    color:white;
    background-color: var(--main-color);
    font-family:'Montserrat';
    padding:10px 25px;
    font-size:20px;
    font-weight:600;
    margin: 8px 5px;
    border-radius:10px;
    transition:all 0.3s;
    box-shadow:-5px 5px var(--shadow-color);
}

.mealSearchOption:hover,
#mealSearchDiv_Button:hover{
    cursor:pointer;
    background-color: white;
    color:var(--main-color);
    box-shadow:none;
}

.mealSearchOption.specialMealSearchOption{
    color:rgb(237, 255, 44);
    border-color:rgb(237, 255, 44);
    animation: specialMealSearchOption 1s infinite ease-in-out;
}
.mealSearchOption.unavailableMealSearchOption{
    background-color: gray;
    border-color:gray;
    pointer-events: none;
}

#mealSearchDiv{
    width:100%;
    height:500px;
    padding:50px 0;
}
#mealSearchDiv_Title{
    display:inline;
    margin-right:10px;
    color:white;
    vertical-align: middle;
    font-size:42px;
    text-shadow:3px 3px var(--shadow-color);
}
#mealSearchDiv_Input{
    background-color: none;
    border:4px solid white;
    color:white;
    background-color: transparent;
    padding:5px;
    font-size:22px;
    vertical-align: middle;
    box-shadow: 3px 3px var(--shadow-color);
}
#mealSearchDiv_Button{
    border:3px solid white;
}
#mealSearchErrorText{
    color:red;
    font-size:20px;
    font-weight:600;
    margin-top:10px;
    display:none;
}

.imageIngredientsDiv{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin:30px 0;
}

.imageIngredientsDiv > div{
    margin:10px 20px;
    text-align: left;
}

#mealSearchResults{
    padding:50px 0;
    background-color: var(--main-color);
}
.mealSearchResult{
    margin-bottom:100px;
    background-color: #9be3ff;
    padding:30px 0;
}
.mealArea,
.mealCategory,
.mealMeasurement,
.mealIngredient{
    display:inline;
}

.mealTitle,
.imageIngredientsDiv > div > h1{
    color:white;
    font-weight:900;
    text-shadow:3px 3px var(--shadow-color);
    font-size:42px;
}
.mealPicture{
    width:90%;
    max-width:300px;
    border-radius:250px;
    box-shadow:5px 5px var(--shadow-color);
    margin:10px 0;
}

.mealInstructions{
    padding:0 10%;
    margin:0 auto;
    font-weight:500;
}
.mealAddToFavorites{
    padding:15px 35px;
    background-color: var(--accent-color);
    border:none;
    color:white;
    font-weight:600;
    margin-top:22px;
    border-radius:10px;
    font-size:20px;
    transition:all 0.3s;
}
.mealAddToFavorites:hover{
    cursor:pointer;
    background-color: var(--accent-hover-color);
    transform:translateY(-4px);
    box-shadow:0 4px var(--shadow-color);
}
#favorites{
    text-align: center;
    background-color: var(--main-color);
}
.favorite{
    padding:30px 0;
    background-color: var(--accent-color);
}
#favorites .favorite button{
    background-color: var(--main-color);
}
@keyframes specialMealSearchOption{
    0%{
        transform:rotate(0deg);
    }
    33%{
        transform:rotate(2deg);
    }
    66%{
        transform:rotate(-2deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
@media screen and (max-width:900px){
    #mealSearchDiv{
        width:90%;
    }
}
@media screen and (max-width:760px){
    #navOptions{
        position:fixed;
        top:0;
        left:0;
        height:100vh;
        width:100vw;
        background-color: var(--main-color);
        z-index: 2;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        opacity:0;
        pointer-events: none;
        transition: opacity 0.4s;
    }
    #closeNavOptions{
        display:block;
    }
    #navOptions  > a{
        display:block;
        color:white;
        font-weight:500;
        font-size:clamp(26px, 4vw, 50px);
        text-decoration: underline;
    }
    #navSignUp{
        background-color:var(--shadow-color);
        padding:10px 25px;
    }
    #hamburger{
        display:flex;
    }
    #aboutUs{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #aboutUs > div{
        width:90%;
        margin:60px 0 25px 0;
        text-align: center;
    }
    #aboutUs > img{
        width:60%;
    }
}